* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 18px;
  color: grey;
  padding: 15px 0 15px 0;
  font-weight: 400;
}





/* Nav styling */

header nav {
  background-color: #105dbb;
  padding-left: 15%;
  height: 60px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

header nav li {
  display: inline-block;
  color: white;
  line-height: 60px;
  padding: 0 20px 0 20px;
  font-weight: 600;
}

li:hover {
  text-decoration: underline;
}





/* blog header styling  */

.blog-header {
  padding: 40px 10px 40px 10px;
  padding-left: 15%;
  border-bottom: 1px solid silver;
}

.blog-header h1 {
  font-size: 65px;
  padding-bottom: 5px;
}

.blog-header h3 {
  font-weight: 100;
}






/* content wrapper styling */

.content-wrapper {
  padding-left: 15%;
  display: flex;
}

.content-wrapper a{
  color: #105dbb;
}

.content-wrapper a:hover {
  text-decoration: underline;
}




/* Main styling  */
main {
  max-width: 550px;
  flex: 6;
}

h2 {
  font-size: 40px;
  padding-bottom: 10px;
  padding-top: 40px;
}

main h3 {
  color: grey;
}


main:last-child {
  font-weight: 600;
}






/* Right Nav styling */

.content-wrapper nav {
  background-color: white;
  flex: 1;
  max-width: 400px;
  margin-left: 60px;
}

.content-wrapper nav li {
  padding: 0 0 10px 0;
  list-style: none;
  font-weight: 600;
  line-height:1.5 ;
}

.content-wrapper nav li a{
  font-size: 18px;
}

.content-wrapper nav h2 {
  font-size: 28px;
}




@media only screen and (max-width: 800px) {
  header nav {
    padding-left: 10px;
  }
  .blog-header {
    padding-left: 20px;
  }

  .content-wrapper {
    padding-left: 20px;

    flex-wrap: wrap;
  }

  .content-wrapper nav {
    min-width: 200px;
  }

  main {
    min-width: 100%;
  }
}




/* Footer styles  */
footer {
  background-color: rgba(104, 106, 104, 0.1);
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  border-top: 1px solid silver;
  height: 120px;
  line-height: 120px;
}


footer p{
  color: black;
  font-weight: 400;
  padding: 0;
}